@model Kullanici
@{
    ViewBag.Title = "Giris Yap";
}

<h1>@ViewBag.Title</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    <div class="mb-3">
        <label asp-for="KullaniciAdi" class=" form-label">Kullanıcı Adı</label>
        <input asp-for="KullaniciAdi" class="form-control" />
        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Parola" class=" form-label">Parola</label>
        <input asp-for="Parola" class="form-control" />
        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Giris Yap</button>
</form>