@{
    ViewData["Title"] = "Home Page";
}

@if(Context.Request.Query["giris"]=="basarili"){
    <div class="alert alert-success">
        Basariyla giris yaptiniz.
    </div>
}

<div class="text-center">
    <h1 class="display-4">Mutluluğun Formülü</h1>
    <p>Bu sayfayı sadece uyeler görebilir.</p>
</div>

<p>Üzgünüm, ancak mutluluğun kesin bir formülü yoktur. Mutluluk karmaşık bir insan deneyimi ve duygusal durumdur ve her birey için farklı faktörler tarafından etkilenebilir. Bununla birlikte, genel olarak mutluluğu artırabilecek bazı yaygın stratejiler ve etkenler vardır:</p>

<ol>
    <li>
        <strong>Sosyal İlişkiler:</strong> Sağlam ve destekleyici sosyal ilişkilere sahip olmak mutluluğu artırabilir. Aile, arkadaşlar ve topluluk bağları insanların duygusal refahını olumlu yönde etkileyebilir.
    </li>
    <li>
        <strong>Amaç ve Anlam:</strong> Hayatta anlam aramak ve bir amacı olmak, mutluluğu artırabilir. Kişisel hedefler belirlemek ve bunlara yönelik çaba sarf etmek insanlara tatmin sağlayabilir.
    </li>
    <li>
        <strong>Sağlık ve Bakım:</strong> Fiziksel sağlığınıza iyi bakmak, düzenli egzersiz yapmak ve dengeli beslenmek, genel ruh halinizi olumlu etkileyebilir.
    </li>
    <li>
        <strong>Olumlu Düşünce Kalıpları:</strong> Olumsuz düşünceler yerine olumlu düşünce kalıplarını geliştirmek, stresi azaltabilir ve mutluluğu artırabilir.
    </li>
    <li>
        <strong>Kişisel Gelişim:</strong> Yeni şeyler öğrenmek, becerilerinizi geliştirmek ve ilgi alanlarınıza yönelmek, kendinizi daha tatmin olmuş hissetmenizi sağlayabilir.

    <li>
        <strong>Zindelik ve Rahatlama:</strong> Yoga, meditasyon, derin nefes alma gibi tekniklerle zihinsel ve duygusal rahatlamayı sağlamak, mutluluğu destekleyebilir.
    </li>
    <li>
        <strong>Minnettarlık ve Şükran:</strong> Sahip olduğunuz şeylere ve deneyimlere minnettarlık duymak, pozitif duyguları teşvik edebilir.
    </li>
    <li>
        <strong>Zaman Ayırma:</strong> Hobileriniz ve ilgi alanlarınıza zaman ayırmak, sizi mutlu edebilir ve stresten uzaklaştırabilir.
    </li>
    <li>
        <strong>Olumlu İlişkiler Kurma:</strong> Olumlu ve destekleyici ilişkiler kurmaya özen göstermek, enerjinizi olumlu yönde yönlendirebilir.
    </li>
    <li>
        <strong>Doğa ve Çevreyle Temas:</strong> Doğa yürüyüşleri yapmak, dışarıda zaman geçirmek ve çevrenin tadını çıkarmak mutluluğu artırabilir.
    </li>
</ol>

<p>
    Unutmayın ki her birey farklıdır ve mutluluk deneyimi de kişiden kişiye değişebilir. Kendinizi iyi hissettiğiniz şeyleri belirlemek ve yaşamınıza entegre etmek, mutluluğunuzu artırmanıza yardımcı olabilir. Profesyonel bir danışman veya psikologdan destek almak da bazen faydalı olabilir.
</p>
